/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            require-prior-idle-ms = <125>;
            quick-tap-ms = <200>;
        };

        shifthr: shifthr {
            compatible = "zmk,behavior-hold-tap";
            label = "SHIFTHR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <185>;
            flavor = "tap-preferred";
            quick-tap-ms = <185>;
        };

        weak: weak {
            compatible = "zmk,behavior-hold-tap";
            label = "WEAK";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <230>;
            flavor = "tap-preferred";
            require-prior-idle-ms = <125>;
            quick-tap-ms = <230>;
        };

        backspace: backspace {
            compatible = "zmk,behavior-tap-dance";
            label = "BACKSPACE";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp LC(BACKSPACE)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        escape {
            bindings = <&kp ESCAPE>;
            key-positions = <16 19>;
        };

        under {
            bindings = <&kp UNDER>;
            key-positions = <28 31>;
        };

        dash {
            bindings = <&kp MINUS>;
            key-positions = <4 7>;
        };

        capsword {
            bindings = <&caps_word>;
            key-positions = <13 22>;
        };
    };

    macros {
        save: save {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp ESCAPE &kp COLON &kp W &kp ENTER>;

            label = "SAVE";
        };

        email: email {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp J &kp O &kp S &kp H &kp AT &kp J &kp O &kp S &kp H &kp B &kp L &kp A &kp I &kp S &kp DOT &kp C &kp O &kp M>;
            label = "EMAIL";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        home {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none  &kp Q         &kp W  &kp E             &kp R      &kp T            &kp Y         &kp U        &kp I            &kp O    &kp P             &none
&none  &kp A         &kp S  &kp D             &kp F      &kp G            &kp H         &kp J        &kp K            &kp L    &kp SQT           &none
&none  &hm LSHIFT Z  &kp X  &kp C             &kp V      &kp B            &kp N         &kp M        &kp COMMA        &kp DOT  &hm RSHIFT SLASH  &none
                            &hm LEFT_ALT ESC  &kp LMETA  &hm LCTRL TAB    &kp KP_ENTER  &lt 1 SPACE  &lt 2 BACKSPACE
            >;

            label = "home";
        };

        num {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &kp NUMBER_1    &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5     &kp NUMBER_6  &kp NUMBER_7  &kp N8            &kp N9             &kp N0                &none
&none  &kp TILDE       &kp HOME      &kp PAGE_UP   &kp PG_DN     &kp END    &kp LEFT      &kp DOWN      &kp UP_ARROW      &kp RIGHT          &kp SEMICOLON         &none
&none  &kp LEFT_SHIFT  &trans        &trans        &trans        &trans     &kp MINUS     &kp EQUAL     &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &hm RSHIFT BACKSLASH  &none
                                     &trans        &trans        &trans     &trans        &trans        &trans
            >;

            label = "num";
        };

        nav {
            bindings = <
&trans  &kp F1   &kp F2   &kp F3      &kp F4            &kp F5            &kp LS(F6)  &kp F7        &kp F8        &kp LS(F9)            &kp F10               &trans
&trans  &kp F11  &kp F12  &kp K_PREV  &kp K_PLAY_PAUSE  &kp LC(K_NEXT)    &kp K_MUTE  &kp C_VOL_DN  &kp C_VOL_UP  &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &trans
&trans  &trans   &trans   &trans      &trans            &trans            &trans      &trans        &trans        &trans                &trans                &trans
                          &trans      &trans            &trans            &trans      &trans        &trans
            >;

            label = "nav";
        };
    };
};
